* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #ffffff;
    padding: 120px;
    margin: 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.stat {
    display: flex;
    flex-direction: column;
    background-color: #15151B;
    border: 1px solid #2A2A33;
    padding: 16px 24px;
    border-radius: 16px;
    gap: 12px;
}

.label {
    color: #A1A1AA;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.value {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 768px) {

    body {
        padding: 24px;
    }
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat {
        padding: 16px;
    }
 
    .value {
        font-size: 24px;
    }
}
